.errorBox{
	position:fixed;
	width:500px;
	left:50%;
	top:10px;
	margin-left:-250px;
	background-color:#8b0000c7;
	color:white;
	font-weight:bold;
	padding:10px;
	border-radius:20px;
	z-index:500;
	display:none;
}
@media screen and (max-width: 380px){
	.errorBox{
		width:330px;
		margin-left:-165px;
	}
}