#logo{
	width:408px;
	margin-bottom:30px;
	cursor:pointer;
}
.firstLine{
	font-family: 'Lobster', cursive;
}
.score{
	font-size:30px;
	font-family: 'Lobster', cursive;
	vertical-align: middle;
}
.Couple1, .Couple2{
	font-family: 'Kavivanar', cursive;
	background-color:#d9534f;
	color:white;
	padding:24px;
	border-radius:20px;
	font-weight:bold;
	font-size:30px;
	cursor:pointer;
}
.Couple1:hover, .Couple2:hover{
	background-color:#ca4f5b;
}
.playGround{
	margin-top:20px;
}
.coupleMaker{
	position:fixed;
	background:linear-gradient(darkred,#E61C1B);
	width:43em;
	height:23em;
	left:50%;
	top:50%;
	margin-left: -21.5em;
	margin-top: -11.5em;
	border-radius:20px;
	border: 2px solid #ca4f5b;
	color:white;
	font-family: 'Lobster', cursive;
	z-index:10;
}
.selectYear{
	font-size:21px;
}
.backDrop{
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#e61c1b63;
	position:fixed;
	z-index:5;
	color:darkred;
}
.backDrop > center > span{
	position: fixed;
	font-size:537px;
	top:50%;
	left:50%;
	margin-top: -268.5px;
	margin-left: -268.5px;
}
.heartMatcher{
	font-size:37px;
	vertical-align: middle;
	color:lightpink;
	margin:0 10px 0 10px;
}
.couples{
	font-family: 'Kavivanar', cursive;
	width:257px;
	font-weight:bold;
}
@media screen and (max-width:380px){
	.couples{
		width:150px;
	}
}
#postCouple, #randomCouple{
	font-size:18px;
	font-family: cursive;
	vertical-align: middle;
}
.bigLove{
	top:100%;
	font-size:80px;
	position:fixed;
	z-index:20;
	color:darkred;
}
.points{
	font-size:100px;
	color:white;
/*	position:fixed;
	z-index:30;
	top:50%;
	left:50%;
	margin-left:-200px;
	margin-top:-200px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;*/
	position: fixed; /* or absolute */
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	z-index:30;
	display: none;
}
.ChatBox{
	background-color:white;
	overflow:hidden;
	color:red;
	position: fixed;
	width:0;
	top:0;
	left:0;
	height:100%;
	transition:1s;
	font-family:cursive;
	font-weight:bold;
	overflow-y:scroll;
}
.chatDrop{
	position:fixed;
	display:none;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:transparent;
}
.msg2user{
	float:left;
	clear:both;
}
.msg2{
	background:red;
	color:white;
	float:left;
	padding:10px;
	border-radius:0 30px 0 0;
	clear:both;
}
.msg1{
	background:red;
	color:white;
	float:right;
	clear:both;
	border:2px solid red;
	padding:10px;
	border-radius:30px;
	margin-top:10px;
}
.writeMessage{
	position:fixed;
	bottom:1px;
	width:0;
	transtion:1s;
}
.message{
	border-width:0 0 1px 0;
	border-color:red;
	width:0;
	transition:1s;
	padding:5px;
	outline:none;
}
::placeholder{
	opacity: 0.8;
}
:-ms-input-placeholder{
	opacity: 0.8;
}
::-ms-input-placeholder{
	opacity: 0.8;
}
.message::placeholder{
	color:red;
	font-weight:bold;
}
.message:-ms-input-placeholder{
	color:red;
	font-weight:bold;
}
.message::-ms-input-placeholder{
	color:red;
	font-weight:bold;
}
.space{
	float:right;
	clear:both;
	margin-top:3.5em;
}