.pair{
	margin-top:10px;
}
.firstname, .lastname{
	font-size:20px;
}


.agree-button{
	font-size:20px;
	background-color:white;
	color:deeppink;
}

#gender{
	font-size:20px;
}
.password_input{
	background:transparent;
	border-width:0 0 1px 0;
	border-color:black;
	outline:none;
}
.signup{
	display:none;
}
.login_button, .signup_button{
	font-size:20px;
}
.toggle_form{
	color:#0d1173;
	cursor:pointer;
	font-size:13px;
}
::placeholder{
	opacity: 0.8;
}
:-ms-input-placeholder{
	opacity: 0.8;
}
::-ms-input-placeholder{
	opacity: 0.8;
}
.password_input::placeholder{
	color:red;
	opacity:0.6;
}
.password_input:-ms-input-placeholder{
	color:red;
	opacity:0.6;
}
.password_input::-ms-input-placeholder{
	color:red;
	opacity: 0.6;
}
.termsBox{
	position:fixed;
	left:50%;
	top:50%;
	width:500px;
	height:21em;
	margin-left:-250px;
	margin-top:-10.5em;
	background-color:deeppink; 
	color:white;
	font-weight:bold;
	border-radius:20px;
	padding:20px;
	font-size:initial;
	z-index:10;
	border:2px solid white;
}

@media screen and (max-width:380px){
	.termsBox{
		width:330px;
		height:25em;
		margin-left:-165px;
		margin-top:-11.5em;
	}
	#lastname{
		margin-top:10px;
	}
}
.backdrop{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background-color:#ff69b491;
	z-index:5;
}
