{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'images/snookums-favicon.png' %}" rel="shortcut icon">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<title>
{% block title %}
Snookums | DA-IICT  
{% endblock title %}
</title>
{% block headMeta %}

{% endblock headMeta %}
<style>
{% block style %}

{% endblock style %}
</style>
<body style="background-color:lightpink;">
{% block body %}

{% endblock body %}
<div class="errorBox">
</div>
{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
{% endblock script %}
</body>
</html>