{% load static %}
<html>
<head>
<meta charset='utf-8'>
</head>
<style>
body{
	background-color:darkred;
	color:white;
	font-family:cursive;
}
#hits{
	position:fixed;
	left:50%;
	top:50%;
	width:500px;
	height:500px;
	margin-left:-250px;
	margin-top:-100px;
	vertical-align: middle;
	font-family:cursive;
	color:white;
}
#hits{
	font-size:200px;
}
</style>
<body>
<center>
<h1>Snookums Hits</h1>
</center>
<div id='hitsDiv'>
<center>
<span id="hits">{{ hits }}</span>
</center>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
function hitter(){
	$.ajax({
		type:'GET',
		url:'/hsrshldsnozx',
		data:{

		},
		success:function(data){
			$("#hits").html(data.hits)
			hitter()
		},
		error:function(){
			hitter()
		}
	})
}
hitter()
</script>
</body>
