{% extends 'base.html' %}
{% load static %}
{% block headMeta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock headMeta %}
{% block style %}
@font-face {
    font-family: Kavivanar;
    src: url({% static 'fonts/Kavivanar/Kavivanar-Regular.ttf' %});
}
@font-face {
	font-family: Lobster;
	src: url({% static 'fonts/Lobster/Lobster-Regular.ttf' %})
}
{% endblock style %}
{% block body %}
<div class="NavBar">
<center>
<img {% if user.is_authenticated %} id="logo" {% endif %} src="{% static 'images/snookums-logo.png' %}" class="img-responsive"> 
</center>
</div>
<center><h1 class="firstLine"><span class="glyphicon glyphicon-heart" style="color:#ff0700"></span> Vote for the Sweetest Couple<span class="glyphicon glyphicon-heart" style="color:#ff0700"></span></h1></center>
<div class="container">
	<div class="row">
		<div class="col-xs-6 col-md-6">
		<center>
		<span class="couple1_year"></span>
		</center>
		</div>
		<div class="col-xs-6 col-md-6">
		<center>
		<span class="couple2_year"></span>
		</center>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6">
		<center>
			<div class="Couple1">
			<span class="firstBoy"></span><br>&<br><span class="firstGirl"></span>
			</div>
		</center>
		</div>
		<div class="col-xs-6 col-md-6">
		<center>
			<div class="Couple2">
			<span class="secondBoy"></span><br>&<br><span class="secondGirl"></span>
			</div>
		</center>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6">
		<center>
			<div class="Couple1Score">
				<span class="score score1"> <span class="glyphicon glyphicon-heart-empty" style="color:#ff0700"></span></span>
			</div>
		</center>
		</div>
		<div class="col-xs-6 col-md-6">
		<center>
			<div class="Couple2Score">
				<span class="score score2"> <span class="glyphicon glyphicon-heart-empty" style="color:#ff0700"></span></span>
			</div>
		</center>
		</div>
	</div>
</div>
<div class="playGround">
<center>
<button class="createMatch btn btn-danger">Create a Couple</button>
<a href="/"><button class="btn btn-danger">Go Back</button></a>
<select class="btn btn-danger" id="iamIn">
	<option value="None">All Years</option>
	<option value="first">First</option>
	<option value="second">Second</option>
	<option value="third">Third</option>
	<option value="fourth">Fourth</option>
</select>
</center>

</div>
<div class="backDrop" hidden>
<center>
<span class="glyphicon glyphicon-heart"></span>
</center>
</div>
<div class="coupleMaker" hidden>
	<center><h2><span class="glyphicon glyphicon-heart-empty"></span> Create a Couple <span class="glyphicon glyphicon-heart-empty"></span></h2></center>
	<center>
	<span id="selected"></span>
		<select id="selectYear" class='selectYear btn btn-danger'>
			<option value="None">Select Year</option>
			<option value="first">First</option>
			<option value="second">Second</option>
			<option value="third">Third</option>
			<option value="fourth">Fourth</option>
		</select>
		{% csrf_token %}
	<br><br>
	<div id="coupleSelector" class="row">

	</div>
	</center>
</div>
{% if user.is_authenticated %}
<div class="chatDrop">
</div>
<div class="ChatBox">
	<div class="chats">
		{% for snippet in snippets %}
			{% if snippet.user.username != user.username %}
			<div class="msg2user">
				{{ snippet.user.username }}
			</div>
			<div class="msg2">
				{{ snippet.message }}
			</div>
			{% else %}
			<div class="msg1">
				{{ snippet.message }}
			</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="space">
	</div>
	<div class="writeMessage">
	<input type="text" placeholder="Your Message here !" class="message" id="message">
	</div>
</div>
{% endif %}
<span class="glyphicon glyphicon-heart bigLove"></span>
<span class="points"></span>
<input id="getCoupleOfYear" value="{{ year }}" hidden>
{% endblock body %}
{% block script %}
{{ block.super }}
<script src="{% static 'js/home.js' %}"></script>
<script>
$("#iamIn option[value={{ year }}]").attr("selected","selected")
</script>
{% csrf_token %}
{% if user.is_authenticated %}
<script>
$(document).ready(function(){
	$(".ChatBox").scrollTop($(".ChatBox")[0].scrollHeight);
})
$("#logo").click(function(){
	if($(window).width() < 370){
		width = "80%";
	}
	else{
		width = "60%";
	}
	$(".ChatBox").css({"width":width});
	$(".chatDrop").show();
	$(".writeMessage").css({"width":width});
	$(".message").css({"width":"100%"})
})
$(".chatDrop").click(function(){
	$(".ChatBox").css({"width":"0"});
	$(".chatDrop").hide();
	$(".writeMessage").css({"width":"0"})
})
$(".message").keypress(function(eve){
	if(eve.charCode == 13){
		message = $(".message").val()
		$("#message").val("")
		document.getElementById("message").focus();
		if(message.replace(" ","").length > 0){
			$.ajax({
				type:'post',
				url:'/chat',
				data:{
					"sender":"{{ user.username }}",
					"message":message,
					"action":"postmsg",
					"csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
				},
				success:function(data){
					$("#message").val("")
					document.getElementById("message").focus();
				},
				error:function(){
					showError("Error in sending your message")
				}
			})
		}
	}
})

function messageUpdater(){
	$.ajax({
		type:'POST',
		url:'/chat',
		data:{
			"csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
			"action":"updatechat",
		},
		success:function(data){
			messageSnippet = "";
			for(i = 0;i < data.length;i++){
				if (data[0].sender != "{{ user.username }}"){
					showError("New Message")
					messageSnippet = '<div class="msg2user">' + data[0].sender +'</div>'
					messageSnippet += '<div class="msg2">' + data[0].message +'</div>'
				}
				else{
					messageSnippet = '<div class="msg1">' + data[0].message +'</div>'
				}
			}
			$(".chats").append(messageSnippet)
			scroller()
			messageUpdater()
		},
		error:function(){
			messageUpdater()
		}
	})
}
messageUpdater()

function scroller(){
	$(".ChatBox").scrollTop($(".ChatBox")[0].scrollHeight);
	$(".chats").scrollTop($(".chats")[0].scrollHeight);
}

</script>
{% endif %}
{% endblock script %}