{% extends 'base.html' %}
{% load static %}
{% block headMeta %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock headMeta %}
{% block body %}
<center>
<img src="{% static 'images/snookums-logo.png' %}" class='img-responsive'><br>
<!-- <a href="/home"><button class="btn btn-danger pair">Let's Pair</button></a> -->
</center>
<div class="backdrop">
</div>
<div class="termsBox">
<center>
<h1>Terms and Condition</h1>
</center>
<p> I fully understand that this website is just meant for light hearted humor and any indisciplinary action on my behalf will be strictly taken care of.</p>
<p>
I am continuing on my risk and Snookums
creators are not at all liable for anything.
</p>
<center>
<h3>Happy Syanpse Lit' Nights</h3>
<button class="agree-button btn btn-default">Agree</button>
</center>
</div>
<center>
<a href="/home"><button class="btn btn-danger">Let's Pair</button></a>
<div class="register">
	<br>
	<center><h1>Your Name Combination</h1></center>
	<br>
	<div class="row img-responsive" style="">
		<div class="col-xs-6 col-md-6">
			<select id="firstname" class="firstname btn btn-danger" name="firstname">
			<option value="None">First Name</option>
			{% for name in names %}
				<option value="{{ name.name }}">{{ name.name }}</option>
			{% endfor %}
			</select>
		</div>
		<div class="col-xs-6 col-md-6">	
			<select id="lastname" class="lastname btn btn-danger" name="lastname">
			<option value="None">Last Name</option>
			{% for name in lastnames %}
				<option value="{{ name.surname }}">{{ name.surname }}</option>
			{% endfor %}	
			</select>
		</div>
	</div>
	<hr>
	<div class="signup"><!-- 
		<div style="margin-top:15px;">
			<h1>Select Gender</h1>
			<select name="gender" id="gender" class="btn btn-danger">
				<option value="None">Gender</option>
				<option value="Male">Male</option>
				<option value="Female">Female</option>
			</select>
		</div> -->
		<hr>
		<div style="font-size:20px;margin-top:15px">
			<input class="password_input" type="password" name="password1" id="password1" placeholder="Your Password"><br><br>
			<input class="password_input" type="password" name="password2" id="password2" placeholder="Confirm Password"><br>
		</div>
		<div><br>
		<button class="signup_button btn btn-danger" id="signup_button">Sign Up</button>
		</div>
	</div>
	<div class="signin" style="font-size:20px;">
		<div>
			<input type="password" class="password_input" id="password_login" name="password_login" placeholder="Enter Password">
		</div>
		<br>
		<div>
			<button class="btn btn-success login_button">Log In</button> 
		</div>
	</div>
	<br>
	{% csrf_token %}
	<span class="toggle_form"><u>Don't have an account</u></span>
</div>
</center>

{% endblock body %}
{% block script %}
{{ block.super }}
<script src="{% static 'js/index.js' %}"></script>
{% endblock script %}