{% extends 'base.html' %}
{% load static %}
{% block style %}
#studentID{
	text-align:left;
	cursor:initial;
}
{% endblock style %}
{% block body %}
<center>
<img src="{% static 'images/snookums-logo.png' %}" class="img-responsive">
<h1>You are logged in as {{ user.first_name }} {{ user.last_name }}</h1>
<br>
<a href="/home"><button class="btn btn-danger">Let's Pair</button></a>
{% if user.userinfo.student_id %}
<br><h1>Subscribed using {{ user.userinfo.student_id }}</h1>
{% else %}

<h2 style="font-family:cursive;font-weight:bold;">Couple Rankings will get revealed at late hours of prom night</h2>
<h2 style="font-family:cursive;font-weight:bold;">Subscribe with your Student ID to get the full result</h2>
<input placeholder="Your Student ID" type="number" class="btn btn-default studid" name="studentID" id="studentID">
{% csrf_token %}
<button class="btn btn-danger" id="register">Subscribe</button>
{% endif %}
<br><br>
<a href="/logout"><button class="btn btn-danger">Sign Out</button></a>
</center>
{% endblock body %}
{% block script %}
{{ block.super }}
<script>
$("#register").click(function(){
	if($("#studentID").val().length == 9){
		$.ajax({
			type:'POST',
			url:'/updatestudentid',
			data:{
				"action":"studentid",
				"studentid":$("#studentID").val(),
				"csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
			},
			success:function(){
				window.alert("Successfully Subscribed")
				window.location = window.location
			}
		})
	}
})
$(document).on("click",".studid",function(){
	$("#studentID").removeClass("studid")
	alert("Warning: Student ID cannot be changed once you subscribe.")
})
</script>

{% endblock script %}