{% extends 'base.html' %}
{% load static %}
{% block body %}
<table>
<tr><th>Name</th><th>Year</th><th>Gender</th></tr>
{% for StudentObj in StudentArr %}
	{% for name in StudentObj.names %}
		<tr>
		<td> {{ name }} </td>
		<td> {{ StudentObj.year }} </td>
		<td> {{ StudentObj.gender }}</td>
		</tr>
	{% endfor %}
{% endfor %}
</table>
{% endblock body %}
{% block script %}
{{ block.super }}
<script src="{% static 'js/refresh.js' %}"></script>

{% endblock script %}